@page
@model ExampleWebshop.UI.Web.Pages.PostCheckoutModel
@{
    ViewData["Title"] = "PostCheckout";
}

<div class="text-center">
    <h1 class="display-4">Thank you!</h1>
    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2F5GoVLqeAOo6PK%2F200.gif&f=1" style="padding: 12px 0;" />
    <p class="lead">Your order will be deliverd to you door as soon as possible!</p>
    <hr class="my-4">
    <p class="lead">
        <a href="/" class="btn btn-primary">Continue shopping</a>
    </p>
</div>



